.sign-in-icon {
  margin-left: 7px;
}

.drawer-icon-left {
  margin-right: 10px;
}

.mdl-grid {
  justify-content: center;
}

.content-cell {
  box-sizing: border-box;
  background-color:   #80d8ff;
  height: 200px;
  padding-left: 8px;
  padding-top: 4px;
  color: grey;
  padding: 15px;
  border: 1px solid #2196f3;
}
